<nav class="navbar bg-info">
  <div class="container-fluid" style="background-color: aqua">
    <a class="navbar-brand">Navbar</a>
    <div class="d-flex">
      <button routerLink="/pages/employees" class="btn btn-sm btn-primary ml-2">
        Gestion des employés
      </button>
      <button
        routerLink="/pages/departments"
        class="btn btn-sm btn-primary ml-2"
      >
        Gestion des départements
      </button>
    </div>
  </div>
</nav>
