<div class="container">
  <h2>Gestion des Employés</h2>

  <div class="row" mt-3>
    <div class="col">
      <app-list></app-list>
    </div>

    <div class="col">
      <app-add></app-add>
    </div>
  </div>
</div>
